{% extends 'credit_apply/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Edit your application</h2>
{% endblock page_header %}

{% block content %}
  <fieldset disabled>
    <form method="post" action="{% url 'credit_apply:submission' %}" class="form">
        {% bootstrap_form form %}
    </form>
  </fieldset>
    <a href="{% url 'credit_apply:edit_application' %}">
        {% buttons %}
            <button name="edit" class="btn btn-primary">Editar</button>
        {% endbuttons %}
    </form>
{% endblock content %}
